<span style="color:#87CEEB; font-size:30px; font-weight:bold;">Desafío - Tipos y Estructuras de Datos(Parte II)</span><br>
<span style="font-size:15px;">Marcela Alejandra Barrera Puentes</span>

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">Descripción</span><br>
<span style="font-size:15px;">Para desarrollar este desafío necesiarás el archivo: resumen_resultados_astronautas.csv. El IMC es una medida importante que nos ayuda a determinar si una persona tiene un peso saludable para poder ser un astronauta. Para calcularlos se utiliza la fórmula</span><br>
<span style="color:#87CEEB; font-size:20px; font-weight:bold;">IMC = m / h * h</span><br>
<span style="font-size:15px;">Donde  m  corresponde al peso del astronauta en kilogramos, y  h  su altura en metros</span><br>

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">1.</span>
<span style="font-size:15px;">Crea un DataFrame con el archivo entregado</span>

In [41]:
# Se instala pandas
!pip install pandas
# Se importa pandas
import pandas as pd
# Se lee el archivo csv: resumen_resultados_astronautas.csv
df = pd.read_csv('/Users/marce/Projects_Marce/Desafio_Latam/resumen_resultados_astronautas.csv')
# Buena práctica: se da una mirada a las primeras filas del DataFrame y las columnas que lo conforman
df.head()
print(df.head())
# Se observan al menos 10 columnas con información de astronautas y registros como: nombre, edad, peso, altura ... entre otras
# Buena práctica: se observa el tipo de información
df.info()
# En resumen existen 32 entradas desde el registro 0 al 31, 10 columnas como se constató más arriba. Registros de tipo entero y string

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
            nombre  edad  peso  altura  evaluacion_fisica  \
0    Alana Morillo    32    75     180                 93
1   Fátima Tafalla    27    68     167                 82
2       Sofía Puig    29    80     185                 85
3  Valentina Tasis    30    65     175                 90
4   Regina Cicerón    31    76     183                 89

   evaluacion_psicologica  evaluacion_adaptativa  evaluacion_medica  \
0                      88                     78                 89
1                      95                     81                 87
2                      80                     90                 91
3                      91                     85                 92
4                      87                     83                 90

   anos_experiencia califica
0                 6       Si
1                 4       Si
2                 3       Si
3                 2       No
4                 7       Si
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   nombre                  32 non-null     object
 1   edad                    32 non-null     int64
 2   peso                    32 non-null     int64
 3   altura                  32 non-null     int64
 4   evaluacion_fisica       32 non-null     int64
 5   evaluacion_psicologica  32 non-null     int64
 6   evaluacion_adaptativa   32 non-null     int64
 7   evaluacion_medica       32 non-null     int64
 8   anos_experiencia        32 non-null     int64
 9   califica                32 non-null     object
dtypes: int64(8), object(2)
memory usage: 2.6+ KB

In [42]:
# Buena práctica: se observa el tipo de información
df.info()
# En resumen existen 32 entradas desde el registro 0 al 31, 10 columnas como se constató más arriba. Registros de tipo entero y string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   nombre                  32 non-null     object
 1   edad                    32 non-null     int64
 2   peso                    32 non-null     int64
 3   altura                  32 non-null     int64
 4   evaluacion_fisica       32 non-null     int64
 5   evaluacion_psicologica  32 non-null     int64
 6   evaluacion_adaptativa   32 non-null     int64
 7   evaluacion_medica       32 non-null     int64
 8   anos_experiencia        32 non-null     int64
 9   califica                32 non-null     object
dtypes: int64(8), object(2)
memory usage: 2.6+ KB

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">2.</span>
<span style="font-size:15px;">Crea la columna "IMC" usando la fórmula entregada.</span>

In [43]:
# Se aplica la fórmula y se agrega la columna
df['IMC'] = df['peso']/((df['altura']/100)**2)
# Se valida que exista la incorporación del campo calculado con un print del DataFrame
print(df)
# De manera más resumida se visualiza lo mismo pero acotando a 4 columnas: nombre, peso, altura e IMC
print(df[['nombre', 'peso', 'altura', 'IMC']])

                  nombre  edad  peso  altura  evaluacion_fisica  \
0          Alana Morillo    32    75     180                 93
1         Fátima Tafalla    27    68     167                 82
2             Sofía Puig    29    80     185                 85
3        Valentina Tasis    30    65     175                 90
4         Regina Cicerón    31    76     183                 89
5       Amaya de la Cruz    26    64     170                 80
6         María Juderías    28    78     182                 88
7          Perla Alcocer    30    71     168                 86
8      Consuela Arboleda    33    77     188                 94
9      María José Franco    29    70     175                 87
10        Emanuel Gálvez    27    73     181                 84
11      Alberto Graciani    28    62     163                 81
12  Patricio Encarnación    30    81     190                 93
13    Cristóbal Miralles    31    72     174                 88
14         Pablo Cotilla    27    75     178                 86
15         Pablo Capmany    29    69     171                 82
16      Nicolás Cambeiro    29    68     175                 88
17        Daniel Sánchez    26    63     167                 80
18         Samuel Gálvez    22    74     183                 91
19            José París    40    68     163                 78
20          Kevin Pareja    27    61     177                 85
21  Estefania Manzanares    31    79     179                 89
22        Óliver Fonseca    38    80     164                 77
23  Christopher Berganza    23    70     173                 92
24         Álvaro Espina    30    76     180                 90
25      Leonardo Magrina    39    65     171                 79
26       Fernando Gálvez    25    72     168                 88
27       Sophie González    36    75     176                 85
28           Alexia Gaos    21    69     169                 93
29         Fátima Varela    33    73     182                 91
30           Clara Arias    44    63     162                 77
31       Paloma Berganza    28    62     174                 87

    evaluacion_psicologica  evaluacion_adaptativa  evaluacion_medica  \
0                       88                     78                 89
1                       95                     81                 87
2                       80                     90                 91
3                       91                     85                 92
4                       87                     83                 90
5                       94                     79                 86
6                       85                     87                 92
7                       92                     82                 88
8                       83                     89                 93
9                       90                     80                 89
10                      89                     84                 87
11                      93                     77                 85
12                      86                     88                 91
13                      91                     86                 92
14                      87                     85                 89
15                      94                     80                 88
16                      90                     81                 90
17                      93                     78                 85
18                      91                     91                 86
19                      85                     85                 77
20                      90                     87                 79
21                      82                     85                 81
22                      88                     90                 89
23                      93                     92                 85
24                      84                     87                 82
25                      92                     90                 85
26                      88                     89                 83
27                      82                     84                 80
28                      94                     93                 86
29                      90                     91                 88
30                      87                     88                 84
31                      85                     87                 78

    anos_experiencia califica        IMC
0                  6       Si  23.148148
1                  4       Si  24.382373
2                  3       Si  23.374726
3                  2       No  21.224490
4                  7       Si  22.694019
5                  4       No  22.145329
6                  5       Si  23.547881
7                  3       No  25.155896
8                  8       Si  21.785876
9                  2       No  22.857143
10                 3       Si  22.282592
11                 5       No  23.335466
12                 4       Si  22.437673
13                 6       No  23.781213
14                 2       Si  23.671254
15                 4       No  23.597004
16                 2       No  22.204082
17                 4       No  22.589551
18                 3       Si  22.096808
19                 8       No  25.593737
20                 2       Si  19.470778
21                 5       Si  24.655910
22                 9       No  29.744200
23                 1       Si  23.388687
24                 4       Si  23.456790
25                 8       No  22.229062
26                 2       Si  25.510204
27                 7       No  24.212293
28                 0       Si  24.158818
29                 5       Si  22.038401
30                11       No  24.005487
31                 3       Si  20.478267
                  nombre  peso  altura        IMC
0          Alana Morillo    75     180  23.148148
1         Fátima Tafalla    68     167  24.382373
2             Sofía Puig    80     185  23.374726
3        Valentina Tasis    65     175  21.224490
4         Regina Cicerón    76     183  22.694019
5       Amaya de la Cruz    64     170  22.145329
6         María Juderías    78     182  23.547881
7          Perla Alcocer    71     168  25.155896
8      Consuela Arboleda    77     188  21.785876
9      María José Franco    70     175  22.857143
10        Emanuel Gálvez    73     181  22.282592
11      Alberto Graciani    62     163  23.335466
12  Patricio Encarnación    81     190  22.437673
13    Cristóbal Miralles    72     174  23.781213
14         Pablo Cotilla    75     178  23.671254
15         Pablo Capmany    69     171  23.597004
16      Nicolás Cambeiro    68     175  22.204082
17        Daniel Sánchez    63     167  22.589551
18         Samuel Gálvez    74     183  22.096808
19            José París    68     163  25.593737
20          Kevin Pareja    61     177  19.470778
21  Estefania Manzanares    79     179  24.655910
22        Óliver Fonseca    80     164  29.744200
23  Christopher Berganza    70     173  23.388687
24         Álvaro Espina    76     180  23.456790
25      Leonardo Magrina    65     171  22.229062
26       Fernando Gálvez    72     168  25.510204
27       Sophie González    75     176  24.212293
28           Alexia Gaos    69     169  24.158818
29         Fátima Varela    73     182  22.038401
30           Clara Arias    63     162  24.005487
31       Paloma Berganza    62     174  20.478267

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">3.</span>
<span style="font-size:15px;">Crea la columna "promedio_evaluaciones" con el promedio de las 4 columnas
de evaluaciones. Si el IMC está entre 18.5 y 24.9, entonces el candidato tendrá un IMC adecuado para ser astronauta. Filtra el DataFrame para obtener solo aquellas filas donde el IMC esté dentro de los límites entregados</span>

In [44]:
# Se calcula  el promedio de las evaluaciones
df['promedio_evaluaciones'] = df[['evaluacion_fisica','evaluacion_psicologica','evaluacion_adaptativa','evaluacion_medica']].mean(axis=1)
# Se filtra el DataFrame para candidatos con IMC adecuado para ser astronautra
astronauta_adecuado = df[(df['IMC']>=18.5) & (df['IMC']<=24.9)]
#Se muestra el DataFrame filtrado con las columnas: nombre, IMC y promedio_evaluaciones
print(astronauta_adecuado[['nombre','IMC','promedio_evaluaciones']])

                  nombre        IMC  promedio_evaluaciones
0          Alana Morillo  23.148148                  87.00
1         Fátima Tafalla  24.382373                  86.25
2             Sofía Puig  23.374726                  86.50
3        Valentina Tasis  21.224490                  89.50
4         Regina Cicerón  22.694019                  87.25
5       Amaya de la Cruz  22.145329                  84.75
6         María Juderías  23.547881                  88.00
8      Consuela Arboleda  21.785876                  89.75
9      María José Franco  22.857143                  86.50
10        Emanuel Gálvez  22.282592                  86.00
11      Alberto Graciani  23.335466                  84.00
12  Patricio Encarnación  22.437673                  89.50
13    Cristóbal Miralles  23.781213                  89.25
14         Pablo Cotilla  23.671254                  86.75
15         Pablo Capmany  23.597004                  86.00
16      Nicolás Cambeiro  22.204082                  87.25
17        Daniel Sánchez  22.589551                  84.00
18         Samuel Gálvez  22.096808                  89.75
20          Kevin Pareja  19.470778                  85.25
21  Estefania Manzanares  24.655910                  84.25
23  Christopher Berganza  23.388687                  90.50
24         Álvaro Espina  23.456790                  85.75
25      Leonardo Magrina  22.229062                  86.50
27       Sophie González  24.212293                  82.75
28           Alexia Gaos  24.158818                  91.50
29         Fátima Varela  22.038401                  90.00
30           Clara Arias  24.005487                  84.00
31       Paloma Berganza  20.478267                  84.25

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">4.</span>
<span style="font-size:15px;">El promedio de las 4 evaluaciones debe ser mayor o igual a 87. Filtra el DataFrame resultante y agrega esta condición al filtro aplicado en el paso anterior</span>

In [45]:
# Se reutiliza el filtro anterior y se agrega que el promedioo de las 4 evaluaciones debe sser mayor o igual a 87
astronauta_adecuado = df[(df['IMC']>=18.5) & (df['IMC']<=24.9) & (df['promedio_evaluaciones']>=87)]
#Se muestra el DataFrame filtrado con las columnas: nombre, IMC y promedio_evaluaciones
print(astronauta_adecuado[['nombre','IMC','promedio_evaluaciones']])

                  nombre        IMC  promedio_evaluaciones
0          Alana Morillo  23.148148                  87.00
3        Valentina Tasis  21.224490                  89.50
4         Regina Cicerón  22.694019                  87.25
6         María Juderías  23.547881                  88.00
8      Consuela Arboleda  21.785876                  89.75
12  Patricio Encarnación  22.437673                  89.50
13    Cristóbal Miralles  23.781213                  89.25
16      Nicolás Cambeiro  22.204082                  87.25
18         Samuel Gálvez  22.096808                  89.75
23  Christopher Berganza  23.388687                  90.50
28           Alexia Gaos  24.158818                  91.50
29         Fátima Varela  22.038401                  90.00

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">5.</span>
<span style="font-size:15px;">Reinicia el índice del DataFrame resultante</span>

In [46]:
# Se reinicia el DataFrame filtrado
astronauta_adecuado.reset_index(drop=True, inplace=True)
# Se muestra el DataFrame filtrardo con el nuevo índice
print(astronauta_adecuado[['nombre','IMC','promedio_evaluaciones']])

                  nombre        IMC  promedio_evaluaciones
0          Alana Morillo  23.148148                  87.00
1        Valentina Tasis  21.224490                  89.50
2         Regina Cicerón  22.694019                  87.25
3         María Juderías  23.547881                  88.00
4      Consuela Arboleda  21.785876                  89.75
5   Patricio Encarnación  22.437673                  89.50
6     Cristóbal Miralles  23.781213                  89.25
7       Nicolás Cambeiro  22.204082                  87.25
8          Samuel Gálvez  22.096808                  89.75
9   Christopher Berganza  23.388687                  90.50
10           Alexia Gaos  24.158818                  91.50
11         Fátima Varela  22.038401                  90.00

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">6.</span>
<span style="font-size:15px;">Modifica el valor de la columna "califica", para que diga "Si" en todas las filas del
DataFrame resultante</span>

In [48]:
# Se modifica el valor de la columna "califica" a "Si" en todas las filas
astronauta_adecuado.loc[:,'califica'] = 'Si'
# Se muestra el DataFrame resultante
print(astronauta_adecuado[['nombre', 'IMC', 'promedio_evaluaciones', 'califica']])

                  nombre        IMC  promedio_evaluaciones califica
0          Alana Morillo  23.148148                  87.00       Si
1        Valentina Tasis  21.224490                  89.50       Si
2         Regina Cicerón  22.694019                  87.25       Si
3         María Juderías  23.547881                  88.00       Si
4      Consuela Arboleda  21.785876                  89.75       Si
5   Patricio Encarnación  22.437673                  89.50       Si
6     Cristóbal Miralles  23.781213                  89.25       Si
7       Nicolás Cambeiro  22.204082                  87.25       Si
8          Samuel Gálvez  22.096808                  89.75       Si
9   Christopher Berganza  23.388687                  90.50       Si
10           Alexia Gaos  24.158818                  91.50       Si
11         Fátima Varela  22.038401                  90.00       Si

<span style="color:#87CEEB; font-size:20px; font-weight:bold;">7.</span>
<span style="font-size:15px;">Exporta el DataFrame resultante a un archivo .csv separado por comas con el
nombre "astronautas_calificados.csv"</span>

In [50]:
# Se exporta DataFrame a un archivo CSV
astronauta_adecuado.to_csv('astronautas_calificados.csv', index=False)